/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page. На его основе работает скрипт. */


.page {
  display: grid;
  background-color: #000028;
  background-image: url('../images/cover-image-dark.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* inline-size: 375px; */
}

/* Переиспользуемые паттерны */

/* задний фон у заголовков и в шапке у параграфа */
.title-decor {
  background-color: var(--accent-color);
}



/* Шапка */

.header {
  position: relative;
  display: grid;
  justify-content: space-between;
  justify-items: end;
  padding: 10px;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: '';
  align-self: start;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  justify-self: start;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorate__element {
  position: absolute;
  color: var(--accent-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  inset-block-start: 10px;
  inset-inline-start: 306px;
  
}

.decorate__element::before {
  content: 'rec';
}

.decorate__element::after {
  content: '';
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-start: 10px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}
.header__theme-menu {
  align-self: start;
}

.header__theme-menu-list {
  display: grid;
  /* justify-self: center; */
  row-gap: 10px;
}

.header__theme-menu-item {
  list-style-type: none;  
}


/* кнопки */

.header__theme-menu-button {
  border: none;
  padding: 1.5px 13px;
  color: var(--accent-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.title {
  inline-size: 355px;
  
}
.title__header {
  align-self: center;
  justify-items: center;
  /* margin-block-start: 20px; */
  color: #DB00FF;
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--accent-color); 
}

.title__description {
  align-self: end;
  /* margin-block-start: 20px; */
  color: #000028;
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 23.4px;
  max-inline-size: 364px;
}

/* Основной контент */

.main {
  display: grid;
  row-gap: 50px;
  margin: 40px auto;
  color: var(--regular-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  inline-size: 355px;
}

.section {
 display: grid;
 row-gap: 20px;

}

.section__header {
  color: var(--accent-color);
  font-weight: bold;
  font-size: inherit;
}

.section__content-wrapper {
  display: grid;
  row-gap: 10px;
  font-family: inherit;
}

.section__content-title {
  color: #000028;
  font-weight: bold;
  font-size: 18px;
}

.section__content-subtitle {
  color: #000028;
  font-weight: normal;
}

.section__content {
  font-weight: normal;
}

.section__content-link {
  border-block-end: 1px solid var(--regular-color);
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section.image__section {
  row-gap: 10px;
}
.section__content-list {
  display: grid;
  row-gap: 10px;
}
.section__content-item {
  font-family: inherit;
  line-height: 0;
}

.footer {
  display: grid;
  justify-items: end;
  font-family: inherit;
}

.section__content-image {
  width: 100%;
}

