/* tablet version */

@media (min-width: 768px) {
  .page {
    padding: 20px;
  }

  .header {
    padding-block-end: 40px;
    min-block-size: 1024px;
    /* width: 100%; */

  }

  .title__header {
    margin-block-start: 0;
  }

  .title__description {
    margin-block-start: 0;
    /* margin-block-end: 20px; */
  }

  .main {
    row-gap: 80px;
    margin: 40px 0;
  }

  .section {
    column-gap: 20px;
  }

  .section:nth-child(odd) .section__content-wrapper {
    grid-column: 2/3;
  }

  .section:nth-child(even) .section__header { 
    max-inline-size: 200px;

  }

  .section__content-wrapper {
    min-inline-size: 470px;
  }

  .section__content-list {
    padding-block-start: 10px;
    grid-template-rows: 192px 230px 318px;
    grid-template-columns: 229px 230px 229px;
    grid-template-areas: 
      "mountains-sunset mountains-sunset icecream"
      "audio-cassette books icecream"
      "audio-cassette street street";
    gap: 20px;
    /* block-size: 780px; */
  }

  .section__content-item {

  }
}
