/* tablet version */

@media (min-width: 768px) {
  .header {
    padding: 20px;
    min-block-size: 1024px;
    padding-inline-start: 0;
  }

  .decorated-zone::after {
    margin-inline-start: 20px; /* отступ для уголка слева*/
  }

  .decorate__element {
    inset-inline-end: 30px;
  }

  .title__header {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .title__description {
    max-inline-size: 364px;
  }

  .main {
    row-gap: 80px;
    margin: 40px 0;
    padding: 20px;
  }

  .section {
    column-gap: 20px;
  }

  .section__header {
    grid-row: 1/3;
    min-inline-size: 236px;
  }

  .section:nth-child(odd) .section__content-wrapper {
    grid-column: 2/3;
  }

  .section:nth-child(even) .section__header {
    max-inline-size: 200px;
  }

  .section__content-wrapper {
    min-inline-size: 470px;
  }

  .section__content-list {
    grid-template-columns: minmax(229px, 315px) minmax(230px, 315px) minmax(
        229px,
        315px
      );
    grid-template-rows: 192px 230px 318px;
    grid-template-areas:
      "mountains-sunset mountains-sunset icecream"
      "audio-cassette books icecream"
      "audio-cassette street street";
    gap: 20px;
    padding-block-start: 10px;
  }

  .footer {
    padding: 20px;
    min-block-size: 1024px;
    justify-self: center;
    align-self: center;
  }

  .footer__header {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .footer.decorated-zone::after {
    margin-inline-start: 0;
  }
}
