/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --regular-color: #F1B2CE;
  --main-color: #DB00FF;
  --decorate-color: #FF0070; /*для декоративных элементов и заголовков h2*/
  --rec-element: #FF0070;
  --accent-color-with-opacity: rgba(255, 0, 112, 0.4);
}
